<!DOCTYPE html>
{% load static %}
{% load thumbnail %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link rel="stylesheet" href="{% static 'css/color.css' %}">


  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=WindSong&display=swap" rel="stylesheet">

  <!-- colorfield -->
  <script src="{% static 'colorfield/colorfield.js' %}"></script>
  <script src="{% static 'colorfield/jscolor/jscolor.js' %}"></script>
  <script src="{% static 'colorfield/jscolor/jscolor.min.js' %}"></script>
  <script>
    {% block script %}
    {% endblock %}
  </script>
  

</head>
<section>
  <div class="wrapper">

    <body class="bg-light">
      <div class="container">
        <nav class="navbar navbar-expand-sm left150px">
          <div class="container-fluid navbackgroundcolor">
            <a class=" navbar-brand navtext " href="#">MultiUserBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item text-center">
                  <a class="nav-link active navtext" aria-current="page" href="#">Home</a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2 navtext" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success navtext" type="submit">Search</button>
              </form>
              {% if request.user.is_authenticated %}
              <!-- Settings Profile -->
              <ul class="navbar-nav right150px mb-lg-0">
                <li class="nav-item dropdown text-center">
                  <a class="nav-link dropdown" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">
                    {% thumbnail request.user.profiles.photo 30x30 crop as avatar %}
                    <img class="rounded" width="30px" src="{{ avatar.url }}" alt="">
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item" href="{% url 'my_profile' %} ">
                        {{ request.user.username }}</a></li>
                    <li><a class="dropdown-item" href="{% url 'edit' %}">Manage profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    <li><a class="dropdown-item" href="{ % url 'blog:post_new' % }">Create Post</a></li>

                    <li><a class="dropdown-item" href="{ % url 'dashboard' % }">Dashbord</a></li>


                  </ul>
                </li>

                <!-- { % include "account/user/profile.html" % } -->

                {% else %}
                <li class="listnone nav-item">
                  <a class="nav-link navtext" href="{% url 'login' %}">Login</a>
                </li>
                <li class="listnone nav-item">
                  <a class="nav-link navtext" href="{% url 'register' %}">SignUp</a>
                </li>

              </ul>
              {% endif %}

            </div>
          </div>
        </nav>

      </div>

      {% block content %} {% endblock %}


      {% block footer %}
      <footer class="container-fluid bg-dark">
        <div class="row">
          <div class="col-md-4 mt-5 mb-5">
            <h1 class="footertitle">
              <a class="textnone" href="/">MultiUserBlog</a>
            </h1>
          </div>
          <div class="col-md-4 mt-5 mb-5">
            <h3 class="footertitle">
              Copyright© 2021
            </h3>
            <a class="linkfooter" href="/sitemap.xml">Sitemap</a>
          </div>
          <div class="col-md-4 mt-5 mb-5">
            <h4 class="footertitle d-flex flex-column">
              Contact Me
              <a class="linkfooter" href="mailto:root@vizvasrj.com">root@vizvasrj.com</a>
            </h4>
          </div>
        </div>
      </footer>
      {% endblock %}

  </div>
</section>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/editor.js' %}"></script>


<script>
  {% block domready %}
  {% endblock %}
</script>



</body>

</html>