{% extends "blog_base.html" %}
{% load thumbnail %}
{% load blog_tags %}
{% load static %}
{% block title %} 
{{ pub.name }}
{% endblock %}

{% block content %} 
<div class="container mb-5">
    <div class="row">
        <div class="col-md-3">
            {% if ratio > 1 %}
            <img width="100%" src="{{pub.image.url}}" alt="">
            {% endif %}

        </div>
        <div class="col-md-8">
            <!-- {% thumbnail pub.image "100x100" crop="100%" as img %} -->

            {% if ratio < 1 %}
            <img width="100%" src="{{pub.image.url}}" alt="">
            {% endif %}

            <h2 class="title">{{ pub.name }}</h2>
            
            <p class="paragraph">{{pub.about}}</p>

            <div class="d-flex number_of_follower">
                <span class="flex-fill">
                    <span id="youand">{% if request.user in pub.followers.all %} You and {% endif %}</span>
                        <span class="">{{ pub.followers.all.count|add:-1 }} </span>
                        <span id="more">{% if request.user in pub.followers.all %} more {% endif %}</span>
                        follower{{pub.followers.all.count|add:-1|pluralize}}
                </span>
                <a href="#" data-url="{% url 'publication_follow' %}" data-id="{{ pub.id }}"
                data-action="{% if request.user in pub.followers.all %}un{% endif %}follow"
                class="pub__follow {{ pub.id }} {% if request.user in pub.followers.all %}pub__following{% endif %} btn justify-content-end">
                {% if request.user not in pub.followers.all %}
                    Follow
                {% else %}
                    Following
                {% endif %}
                </a>
            </div>
        
            <hr style="height: 2px;">
            <div id="post-list">
                {% include "blog/publication/pub_post_list_ajax.html"  %}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}

{% block script %} 
<script src="{% static 'js/publication_follow.js' %}"></script>
<script src="{% static 'js/publication_posts_scroll.js' %}"></script>
{% endblock %}

{% block domready2 %} 


{% endblock %}