{% extends "blog_base.html" %}
{% block title %}Reset your password{% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 bg-light">


      <h1 class="maintitle">Reset your password</h1>
      <p class="labeltext">We've emailed you instructions for setting your password.</p>
      <p class="labeltext">make sure to check your spam folder.</p>

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

{% endblock %}