{% extends "blog_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Change your password
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 bg-light">
          <div class="somealign">
              <h1 class="maintitle">Change Password</h1>
              <div class="mb-3 border-top">
                  <form class="mt-2" method="POST" enctype="multipart/form-data">
                    <div class="email mb-2 border-top">
                      <label class="mt-2 labeltext" for="email" class="form-label">{{form.old_password.label}}:</label>
                      <div class="">
                        {{ form.old_password }}
                      </div>
                    </div>
                    <div class="email mb-2 border-top">
                      <label class="mt-2 labeltext" for="email" class="form-label">{{form.new_password1.label}}:</label>
                      <div class="">
                        {{ form.new_password1 }}
                      </div>
                    </div>
                    <div class="email mb-2 border-top">
                      <label class="mt-2 labeltext" for="email" class="form-label">{{form.new_password2.label}}:</label>
                      <div class="">
                        {{ form.new_password2 }}
                      </div>
                    </div>
                    {% csrf_token %}
                    <input class="btn-dark btn btn-secondary myfieldclass" type="submit" value="Submit">

                  </form>
                  <div class="mb5"></div>
              </div>
          </div>
      </div>
      <div class="col-sm-2"></div>
  </div>
</div>
{% endblock %}

