{% extends "blog_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Password Reset
{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 bg-light">
          <div class="somealign">
              <h1 class="maintitle">Change Password</h1>
              <div class="mb-3 border-top">
                  <form class="mt-2" method="POST" enctype="multipart/form-data">
                    <div class="email mb-2 border-top">
                      <label class="mt-2 labeltext" for="email" class="form-label">{{form.email.label}}:</label>
                      <div class="">
                        {{ form.email }}
                      </div>
                    </div>
                    {% csrf_token %}
                    <input class="btn-dark btn btn-secondary" type="submit" value="Submit">
                  </form>
              </div>
          </div>
      </div>
      <div class="col-sm-2"></div>
  </div>
</div>
{% endblock %}



{% block domready %} 
var height = window.innerHeight - document.querySelector('body').offsetHeight;
var margin = "margin-top:"+height+"px";
$("footer").attr("style", margin);
{% endblock %}