{% extends "blog_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Reset your password' %}{% endblock title %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 bg-light">

      <h1 class="maintitle">{% trans 'Reset your password' %}</h1>

      {% if validlink %}
      <p class="labeltext">{% trans 'Please enter your new password twice:' %}</p>
      <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <p>
          <input type="submit" value='Change my password'>
        </p>
      </form>
      {% else %}
      <p class="labeltext">
        {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
      </p>
      {% endif %}

    </div>
    <div class="col-sm-2"></div>
  </div>
</div>


{% endblock %}

{% block domready %} 
var height = window.innerHeight - document.querySelector('body').offsetHeight;
var margin = "margin-top:"+height+"px";
$("footer").attr("style", margin);
{% endblock %}