{% extends "blog_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load editorjs %}

{% block head %} 
{{ form.media.css }}

{% endblock %}


{% block style %} 
:root {
	--ck-sample-editor-min-height: 400px;
}
{% endblock %}


{% block menu %} 
    <!-- <button for="submit" value="Submit">Submit</button> -->
{% endblock %}

{% block content %}
<!-- <h1 class="maintitle">New post {{user}}</h1> -->

<form method="POST" class="post-form" enctype="multipart/form-data" id="formid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {{form.media }}
                <div class="title mb-2 ">
                    <!-- <label class="mt-2 labeltext" for="title" class="form-label">{{form.title.label}}:</label> -->
                    <div class="">
                        {{ form.title }}
                    </div>
                </div>
                <div class="body mb-2 ">
                    <!-- <label class="mt-2 labeltext" for="body" class="form-label">{{form.body.label}}:</label> -->
                    <div class="" style="padding: 0px;">
                        {{ form.body }}
                    </div>
                </div>
                {% csrf_token %}
                {{media}}
                <br>
            </div>
            <div class="col-md-4 border mb-32-px">
                <div class="tags bg-aqua-lite">
                    <label class="mt-2 tag_label bg-green-lite d-flex justify-content-center" for="tags" class="form-label">Please provie some tags</label>
                    <div class="">
                        {{ form.tags }}
                    </div>
                </div>
                <div class="status bg-aqua-lite">
                    <label class="mt-2 tag_label bg-green-lite d-flex justify-content-center" for="tags" class="form-label">Please provide when to publish</label>
                    <div class="">
                        {{ form.status }}
                    </div>
                </div>
                <div id="h_publish" class="none status bg-aqua-lite">
                    <label class="mt-2 tag_label bg-green-lite d-flex justify-content-center" for="tags" class="form-label">YYYY:MM:DD HH:MM</label>
                    <div class=" ">
                        {{ form.publish }}
                    </div>
                </div>
                <div class="cover bg-aqua-lite ">
                    <label class="mt-2 tag_label d-flex bg-green-lite justify-content-center" for="cover" class="form-label">Upload cover image</label>
                    <div class="">
                        <label id="remove" class="uploadcover d-flex " for="id_cover">
                            <img class="blogcoverimage d-flex justify-content-center" width="100%" id="myImg" src='{{post.cover.url}}' alt="Upload (Click here)" />
                        </label>
                        {{ form.cover }}
                    </div>
                </div>
                <div class="tags bg-aqua-lite">
                    <label class="mt-2 tag_label d-flex justify-content-center" for="tags" class="form-label">Share to edit with others</label>
                    <div class="">
                        {{ form.other_author }}
                    </div>
                </div>
                <div class="d-flex">
                    <div class="publish mt-2">
                        <button name="submit" data-value="publish" type="submit" formnovalidate="formnovalidate" class="save btn publish__b bg-red-lite">Publish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>    



{% endblock %}

{% block footer %} 

{% endblock %}

{% block script %} 

{{ form.media.js }}
<script  src="{% static 'js/ckeditor.js' %}"></script>
<script src="{% static 'js/ckeditor.config.js' %}"></script>

{% endblock %}

{% block domready %}
$(function () {
    $(":file").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = imageIsLoaded;
            reader.readAsDataURL(this.files[0]);
        }
    });
});

function imageIsLoaded(e) {
    $('#myImg').attr('src', e.target.result); 
    // $('#remove').remove(); 

}

// Check 

$("#formid").on('click', 'option', function(event){


    
    var dataText = $(this).attr('value');
    var before = $(this)
    console.log(dataText)
    if (dataText=='published'){
        $('#h_publish').removeClass('none');
    }
    else {
        $('#h_publish').addClass('none');
    }



});






{% endblock %}

