{% extends "blog_base.html" %}
{% load crispy_forms_tags %}
{% load editorjs %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="maintitle">New post {{user}}</h1>

        <form method="POST" class="post-form" enctype="multipart/form-data">
            {{form.media}}

            <div class="title mb-2 ">
                <label class="mt-2 labeltext" for="title" class="form-label">{{form.title.label}}:</label>
                <div class="">
                    {{ form.title }}
                </div>
            </div>
            <div class="body mb-2 ">
                <label class="mt-2 labeltext" for="body" class="form-label">{{form.body.label}}:</label>
                <div class="" style="padding: 0px;">
                    {{ form.body }}
                </div>
            </div>
            <div class="cover mb-2 ">
                <label class="mt-2 labeltext" for="cover" class="form-label">{{form.cover.label}}:</label>
                <div class="">
                    <label id="remove" class="uploadcover" for="id_cover">
                        <img class="blogcoverimage" width="100%" id="myImg" src='' alt="Upload" />
                    </label>
                    {{ form.cover }}
                </div>
            </div>
            <div class="tags mb-2 ">
                <label class="mt-2 labeltext" for="tags" class="form-label">{{form.tags.label}}:</label>
                <div class="">
                    {{ form.tags }}
                </div>
            </div>


            {% csrf_token %}

            {{media}}
            <br>
            <button type="submit" formnovalidate="formnovalidate" class="save btn btn-primary">Save</button>
        </form>
    </div>
</div>



{% endblock %}

{% block domready %}
$(function () {
$(":file").change(function () {
if (this.files && this.files[0]) {
var reader = new FileReader();
reader.onload = imageIsLoaded;
reader.readAsDataURL(this.files[0]);
}
});
});

function imageIsLoaded(e) {
$('#myImg').attr('src', e.target.result);
<!-- $('#remove').remove(); -->
};


{% endblock %}

{% block script %}

{% endblock %}