{% load blog_tags %}
{% load thumbnail %}
{% load no_code_editorjs %}

{% for post in posts %}
<div class="container similar_posts {% cycle 'bg-red-lite' 'bg-olive-lite' 'bg-fuchisa-lite' 'bg-teal-lite' %}">
  <div class="row">
      <div class="col-lg-2">

      </div>
      <div class="col-lg-8">
          <div class="container">
              <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-11 post__body">
                      <a class="post_title" href="{{post.get_absolute_url}}">
                        <h1 class="posttitle">{{ post.title|capfirst }}</h1>
                      </a>
                      <p class="detail_readtime">{{post.body|readtime}}</p>
                      <div class="">
                        {% thumbnail post.author.photo "42x42" crop="100%" as im  %}
                        <a class="a_author_image" href="/{{post.author.get_absolute_url}}/">
                          <img class="author__left__side rounded" src="{{ im.url }}" alt="">
                        </a>
                      
                          <a class="author_name_from_list" href="/{{post.author.get_absolute_url}}/">{{ post.author }}</a>
                       
                      </div>
                      <p class="date">
                  
                        Published at {{ post.publish }}
              
                      </p>
                                    <hr class="hr-line">
                      {% thumbnail post.cover "800x400" crop="100%" as im %}
                      <img class="mb-3" width="100%" src="{{im.url}}" alt="">
                      <p class="post-body">{{ post.body|xssprotect|truncatewords:100 }}</p>
                      <a class="link0" href="{{post.get_absolute_url}}">
                        <p class="read_more">Read more</p>
                      </a>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-2"></div>
  </div>
</div>
</div>
{% endfor %}
