{% extends "blog_base.html" %}
{% load blog_tags %}
{% load i18n %}
{% block title %} Vizvasrj {% endblock title %}


{% block content %}
<div class="container-fluid">
    <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div id="post-list">
                    {% include "blog/post/list_ajax.html" %}
                </div>
            </div>
            <div class="col-lg-2"></div>
    </div>
</div>
{% endblock content %}

{% block footer %} 

{% endblock %}

{% block domready %}
var page = 1;
var empty_page = false;
var block_request = false;

$(window).scroll(function () {
    var margin = $(document).height() - $(window).height() - 200;
    if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page, function (data) {
            if (data == '') {
                empty_page = true;
            } else {
                block_request = false;
                $('#post-list').append(data);
            }
        });
    }
});

<!-- bla -->
<!-- bookmark -->
$('#post-list').on("click", "a.bookmark", function(event){
    {% if request.user.is_authenticated %}
      event.preventDefault();
  {% else %}
      console.log("Login First");
  {% endif %}

    console.log( $(this).data('id') );
    var a = $(this).data('id');
    $.post('{% url "bookmark" %}',
  {
      id: $(this).data('id'),
      action: $(this).data('action')
  },
  function(data){
      if (data['status'] == 'ok')
      {
          
          
          var previous_action = $('a.bookmark').data('action');

          //toggle data-action
          $('a.bookmark').data('action', previous_action == 'bookmark' ? 'unbookmark' : 'bookmark');

          //toggle link text
          $('a.bookmark svg path.'+a).toggleClass(previous_action == 'bookmark' || previous_action == 'unbookmark' ? 'king' : '');

      }
      else{
          console.log("Error")
      }
  });
});


{% endblock %}


