{% load blog_tags %}
{% load thumbnail %}
{% load i18n %}
{% load no_code_editorjs %}
{{user.profiles.all}}
{% for post in posts %}
<div class="row bg-mint-lite p-2 mtm20">
  <div class="col-1" style="border-right: 2px solid #d9dadb;">
    <div class="blog__list__float sticky-top">
      <div class="bookmark">
        {% with bookmark=post.bookmark_list.all %}

        {% if user.is_authenticated %}

        <a data-id="{{ post.id }}" data-action="{% if request.user in bookmark %}un{% endif %}bookmark"
          class="bookmark">
          <svg class="changesize2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true" focusable="false" width="1em" height="1em"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path class="{% if request.user in bookmark %}king{% endif %} {{ post.id }} icad"
              d="M17 3H7a2 2 0 0 0-2 2v16l7-3l7 3V5a2 2 0 0 0-2-2z" fill="#626262" />
          </svg>
        </a>

        {% else %}

        <a href="{% url 'login' %}?next={{ request.path }}" class="bookmark_unauthenticated">
          <svg class="changesize2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true" focusable="false" width="1em" height="1em"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path class="icad" d="M17 3H7a2 2 0 0 0-2 2v16l7-3l7 3V5a2 2 0 0 0-2-2z" fill="#626262" />
          </svg>
        </a>

        {% endif %}


        {% endwith %}
      </div>
      <div class="dot_menu">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
          focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
          class="iconify" data-icon="mdi:dots-vertical" data-inline="false" style="transform: rotate(360deg);">
          <path
            d="M12 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m0-6a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m0-6a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2z"
            fill="currentColor"></path>
        </svg>
      </div>
    </div>

  </div>
  <div class="col-11">

    <div class="">
      <div class="">
        <a class="post_title" href="{{post.get_absolute_url}}">
          <h3 class="post_title">
          
          {% if LANGUAGE_CODE == 'en' %}
            {% if post.english_translated_post.last.title %}
              {{ post.english_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'ar' %}
            {% if post.arabic_translated_post.last.title %}
              {{ post.arabic_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'zh-hans' %}
            {% if post.chiense_translated_post.last.title %}
              {{ post.chiense_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}
              

          {% elif  LANGUAGE_CODE == 'ta' %}
            {% if post.filipino_translated_post.last.title %}
              {{ post.filipino_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'fr' %}
            {% if post.french_translated_post.last.title %}
              {{ post.french_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'de' %}
            {% if post.german_translated_post.last.title %}
              {{ post.german_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'hi' %}
            {% if post.hindi_translated_post.last.title %}
              {{ post.hindi_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}
          
          {% elif  LANGUAGE_CODE == 'id' %}
            {% if post.indonesian_translated_post.last.title %}
              {{ post.indonesian_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'it' %}
            {% if post.italian_translated_post.last.title %}
              {{ post.italian_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}
            
          {% elif  LANGUAGE_CODE == 'ja' %}
            {% if post.japanese_translated_post.last.title %}
              {{ post.japanese_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'ko' %}
            {% if post.korean_translated_post.last.title %}
              {{ post.korean_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'nn' %}
            {% if post.norwegian_translated_post.last.title %}
              {{ post.norwegian_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'pt' %}
            {% if post.portuguese_translated_post.last.title %}
              {{ post.portuguese_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'ru' %}
            {% if post.russian_translated_post.last.title %}
              {{ post.russian_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'es' %}
            {% if post.spanish_translated_post.last.title %}
              {{ post.spanish_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% elif  LANGUAGE_CODE == 'vi' %}
            {% if post.vietnamese_translated_post.last.title %}
              {{ post.vietnamese_translated_post.last.title }}
            {% else %}
              {{ post.title }}  
            {% endif %}

          {% else %}
            {{ post.title }}
          {% endif %}
          </h3>
          </a>
      </div>
      <hr class="hr-post-list">
      <div class="author-up">
        {% thumbnail post.author.photo "42x42" crop="100%" as im %}
        <a class="a_author_image" href="/{{post.author.get_absolute_url}}/">
          <img class="author__left__side rounded" src="{{ im.url }}" alt="">
        </a>

        <a class="author_name_from_list vizvasrj" href="/{{post.author.get_absolute_url}}/">{{ post.author.user }}</a>

      </div>
      <p class="date">

        {% blocktrans with post_publish=post.publish %}Published at {{ post_publish }}{% endblocktrans %}

      </p>
      
      
      {% if post.cover %}
        
        {% thumbnail post.cover "883x341" crop="100%" as im %}
        <a href="{{post.get_absolute_url}}"><img width="200px" class="col-sm-12 post-image" src="{{im.url}}" alt="" /></a>

      {% endif %}
        
      <p class="mt-1 post__list__body">
        
      {% if LANGUAGE_CODE == 'en' %}
        {% if post.english_translated_post.last.body %}
          {{ post.english_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'ar' %}
        {% if post.arabic_translated_post.last.body %}
          {{ post.arabic_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'zh-hans' %}
        {% if post.chiense_translated_post.last.body %}
          {{ post.chiense_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}
          

      {% elif  LANGUAGE_CODE == 'ta' %}
        {% if post.filipino_translated_post.last.body %}
          {{ post.filipino_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'fr' %}
        {% if post.french_translated_post.last.body %}
          {{ post.french_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'de' %}
        {% if post.german_translated_post.last.body %}
          {{ post.german_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'hi' %}
        {% if post.hindi_translated_post.last.body %}
          {{ post.hindi_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}
      
      {% elif  LANGUAGE_CODE == 'id' %}
        {% if post.indonesian_translated_post.last.body %}
          {{ post.indonesian_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'it' %}
        {% if post.italian_translated_post.last.body %}
          {{ post.italian_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}
        
      {% elif  LANGUAGE_CODE == 'ja' %}
        {% if post.japanese_translated_post.last.body %}
          {{ post.japanese_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'ko' %}
        {% if post.korean_translated_post.last.body %}
          {{ post.korean_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'nn' %}
        {% if post.norwegian_translated_post.last.body %}
          {{ post.norwegian_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'pt' %}
        {% if post.portuguese_translated_post.last.body %}
          {{ post.portuguese_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'ru' %}
        {% if post.russian_translated_post.last.body %}
          {{ post.russian_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'es' %}
        {% if post.spanish_translated_post.last.body %}
          {{ post.spanish_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% elif  LANGUAGE_CODE == 'vi' %}
        {% if post.vietnamese_translated_post.last.body %}
          {{ post.vietnamese_translated_post.last.body|xssprotect|removeimage|striptags|truncatewords:100 }}
        {% else %}
          {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
        {% endif %}

      {% else %}
        {{ post.body|xssprotect|removeimage|striptags|truncatewords:100 }}  
      {% endif %}

    </p>
      <a class="link0" href="{{post.get_absolute_url}}">
        <p class="read_more">{% trans 'Read more' %} : ({{ post.body|readtime }})</p> 
      </a>
      <div class="">
        {% for tag in post.tags.all %}
        <a href="{{ tag.get_absolute_url }}" class=" tags-item
            {% cycle 'bg-orange-lite' 'bg-olive-lite' 'bg-green-lite' 'bgredlite---' %}">
          #{{ tag }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<hr style="border: 2px solid grey;">
{% endfor %}