{% extends "account_base.html" %}

{% load thumbnail %}

{% load static %}

{% block title %} {{ user.profiles.full_name }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% include "account/user/left_side.html" %}
        <div class="col-md-6 theirposts mt-5">
            <div class="">
                <h3 class="post_title mt-1">Post Title: !st August 1978</h3>
            </div>
            <img class="col-sm-12 post-image" src="{% static 'image/demo.jpg' %}" alt="">
            <p class="post_body mt-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, nihil velit quisquam, commodi
                debitis neque possimus architecto fugiat perferendis laboriosam maiores dolor recusandae fugit beatae
                exercitationem, quam accusantium sit ut?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam alias iusto facere unde, nihil sequi
                voluptatem, voluptatum tempora sit cum excepturi eveniet sed adipisci laborum sunt ab aliquam. Amet,
                quae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, rerum quis perferendis vitae
                incidunt eius quo vero mollitia laudantium dolorum quisquam sequi libero et nemo praesentium minima
                consectetur molestias temporibus.
            </p>
        </div>
        <div class="col-md-3 mt-5"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/fallow.js' %}"></script>
{% endblock %}