{% extends "blog_base.html" %}

{% load thumbnail %}

{% load static %}

{% block title %} {{ user.profiles.full_name }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% include "account/user/left_side.html" %}
        <div class="col-md-9 mt-5">
            <div id="post-list">
                {% include "account/user/user_post_list_ajax.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/fallow.js' %}"></script>
{% endblock %}

{% block domready %}
var page = 1;
var empty_page = false;
var block_request = false;

$(window).scroll(function () {
    var margin = $(document).height() - $(window).height() - 200;
    if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page, function (data) {
            if (data == '') {
                empty_page = true;
            } else {
                block_request = false;
                $('#post-list').append(data);
            }
        });
    }
});

<!-- bla -->
<!-- bookmark -->
$('#post-list').on("click", "a.bookmark", function(){
    {% if request.user.is_authenticated %}
      event.preventDefault();
  {% else %}
      console.log("Login First");
  {% endif %}

    console.log( $(this).data('id') );
    var a = $(this).data('id');
    $.post('{% url "bookmark" %}',
  {
      id: $(this).data('id'),
      action: $(this).data('action')
  },
  function(data){
      if (data['status'] == 'ok')
      {
          
          
          var previous_action = $('a.bookmark').data('action');

          //toggle data-action
          $('a.bookmark').data('action', previous_action == 'bookmark' ? 'unbookmark' : 'bookmark');

          //toggle link text
          $('a.bookmark svg path.'+a).toggleClass(previous_action == 'bookmark' || previous_action == 'unbookmark' ? 'king' : '');

      }
      else{
          console.log("Error")
      }
  });
});


{% endblock %}