{% load thumbnail %}
{% for user in follower %}
<div class="mb-1 mt-1">
    <div class="realborder d-flex flex-row">
        <a class="d-flex linkfooter" href="/{{user.user_from.profiles.get_absolute_url}}">
            {% thumbnail user.user_from.profiles.photo "100x100" crop="100%" as im %}
            <img class=" rounded-circle" width="100px" height="100px" src="{{im.url}}" class="img-thumbnail">
            <div class="d-flex flex-column shift_right">
                <p class="d-flex usernametext ">{{ user.user_from.profiles }}</p>
                <p class="d-flex little_about ">{{ user.user_from.profiles.about }}</p>
            </div>
        </a>
    </div>
</div>
{% endfor %}
