{% extends "blog_base.html" %}
{% load thumbnail %}
{% load i18n %}
{% load static %}

{% block title %} {% trans 'Users' %} {% endblock %}



{% block content %}
<div class="container">
    <div class="row">
        {% include "account/user/left_side.html" %}
        <div class="col-sm-6 theirposts mt-5">
            <div id="user-list">
                {% include "account/user/follower_list.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/fallow.js' %}"></script>
{% endblock %}

{% block domready %} 
var page=1;
var empty_page=false;
var block_request=false;

$(window).scroll(function () {
    var margin = $(document).height() - $(window).height() - 200;
    if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page, function (data) {
            if (data == '') {
                empty_page = true;
            } else {
                block_request = false;
                $('#user-list').append(data);
            }
        });
    }
});
{% endblock %}

