{% extends "blog_base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block title %} {% trans 'Users' %} {% endblock %}

{% block content %}
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-2 "></div>
        <div class="col-sm-8">
            <div class="somealign">
                <h1 class="maintitle">{% trans 'Users List' %}</h1>
                <hr>
                <div id="user-list">
                    {% include "account/user/user_list.html" %}
                </div>
            </div>
        </div>
        <div class="col-sm-2 "></div>
    </div>
</div>
{% endblock %}

{% block footer %}	

{% endblock %}

{% block domready %} 
var page=1;
var empty_page=false;
var block_request=false;

$(window).scroll(function () {
    var margin = $(document).height() - $(window).height() - 200;
    if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page, function (data) {
            if (data == '') {
                empty_page = true;
            } else {
                block_request = false;
                $('#user-list').append(data);
            }
        });
    }
});
{% endblock %}