{% extends "account_base.html" %}
{% load thumbnail %}

{% block title %} Users {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 bg-secondary"></div>
        <div class="col-sm-8 bg-light">
            <div class="somealign">
                <h1 class="maintitle">Make It Awesome</h1>
                {% for user in users %}
                <div class="mb-3">
                    <div class="border d-flex flex-row">
                        <a class="d-flex linkfooter" href="/{{user.profiles.get_absolute_url}}">
                            {% thumbnail user.profiles.photo "100x100" crop="100%" as im %}
                            <img class=" rounded-circle" width="100px" src="{{im.url}}" class="img-thumbnail">
                            <div class="d-flex flex-column shift_right">
                                <p class="d-flex usernametext ">{{ user }}</p>
                                <p class="d-flex little_about ">{{ user.profiles.about }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2 bg-secondary"></div>
    </div>
</div>
{% endblock %}