{% load thumbnail %}
{% for user in users %}
<div class="hover__userl">
    <div class=" d-flex flex-row p-2" style="border-bottom: 1px solid #aaaaaa60;">
        <a class="d-flex linkfooter" href="/{{user.profiles.get_absolute_url}}/">
            {% thumbnail user.profiles.photo "50x50" crop="100%" as im %}
            <img class=" rounded-circle" width="50px" height="50px" src="{{im.url}}" class="img-thumbnail">
            <div class="d-flex flex-column shift_right">
                <p class="  "  style="font-weight: 600;">{{ user.profiles.full_name }}</p>
                <p class="d-flex usernametext " style="margin-top: -20px;">{{ user }}</p>

                <p class="d-flex little_about ">{{ user.profiles.about }}</p>
            </div>
        </a>
    </div>
</div>
{% endfor %}
