:root {
    --bg-navy-background--color: #001f3f!important;

    --bg-blue-background--color: #0074D9!important;

    --bg-aqua-background--color: #7FDBFF!important;

    --bg-teal-background--color: #39CCCC!important;

    --bg-purple-background--color: #B10DC9!important;

    --bg-fuchisa-background--color: #F012BE !important;

    --bg-maroon-background--color: #85144b!important;

    --bg-red-background--color: #FF4136!important;

    --bg-orange-background--color: #FF851B!important;

    --bg-yellow-background--color: #FFDC00!important;

    --bg-olive-background--color: #3D9970!important;

    --bg-green-background--color: #2ECC40!important;

    --bg-lime-background--color: #01FF70!important;

    --bg-navy-lite-background--color: #001f3f10 !important;

    --bg-blue-lite-background--color: #0074D910 !important;

    --bg-aqua-lite-background--color: #7FDBFF10 !important;

    --bg-teal-lite-background--color: #39CCCC10 !important;

    --bg-purple-lite-background--color: #B10DC910 !important;

    --bg-fuchisa-lite-background--color: #F012BE10 !important;

    --bg-maroon-lite-background--color: #85144b10 !important;

    --bg-red-lite-background--color: #FF413610 !important;

    --bg-orange-lite-background--color: #FF851B10 !important;

    --bg-yellow-lite-background--color: #FFDC0010 !important;

    --bg-olive-lite-background--color: #3D997010 !important;

    --bg-green-lite-background--color: #2ECC4010 !important;

    --bg-lime-lite-background--color: #01FF7010 !important;

    --bg-navy-lite-50-background--color: #001f3f50 !important;

    --bg-blue-lite-50-background--color: #0074D950 !important;

    --bg-aqua-lite-50-background--color: #7FDBFF50 !important;

    --bg-teal-lite-50-background--color: #39CCCC50 !important;

    --bg-purple-lite-50-background--color: #B10DC950 !important;

    --bg-fuchisa-lite-50-background--color: #F012BE50 !important;

    --bg-maroon-lite-50-background--color: #85144b50 !important;

    --bg-red-lite-50-background--color: #FF413650 !important;

    --bg-orange-lite-50-background--color: #FF851B50 !important;

    --bg-yellow-lite-50-background--color: #FFDC0050 !important;

    --bg-olive-lite-50-background--color: #3D997050 !important;

    --bg-green-lite-50-background--color: #2ECC4050 !important;

    --bg-lime-lite-50-background--color: #01FF7050 !important;

    --bg-aqua-lite-08-background--color: #175d7998 !important;

    --bg-aqua-lite-08:hover-background--color: #46c2f340 !important;

    --bg-fuchisa-lite-08-background--color: #F012BE80 !important;

    --bg-fuchisa-lite-08:hover-background--color: #db5dbe80 !important;


    --tx--navy-color: hsla(210, 100%, 75%, 1.0)!important;

    --tx--blue-color: hsla(208, 100%, 85%, 1.0)!important;

    --tx--aqua-color: hsla(197, 100%, 20%, 1.0)!important;

    --tx--purple-color: hsla(292, 88%, 82%, 1.0)!important;

    --tx--fuchisa-color: hsla(314, 88%, 21%, 1.0)!important;

    --tx--maroon-color: hsla(331, 74%, 70%, 1.0)!important;

    --tx--red-color: hsla(3, 100%, 25%, 1.0)!important;

    --tx--orange-color: hsla(28, 100%, 20%, 1.0)!important;

    --tx--yellow-color: hsla(52, 100%, 20%, 1.0) !important;

    --tx--olive-color: hsla(153, 43%, 15%, 1.0)!important;

    --tx--green-color: hsla(127, 63%, 15%, 1.0)!important;

    --tx--lime-color: hsla(146, 100%, 20%, 1.0)!important;

    --tx--navy-lite-color: hsla(210, 100%, 15%, 0.5)!important;

    --tx--blue-lite-color: hsla(208, 100%, 15%, 0.5)!important;

    --tx--aqua-lite-color: hsla(197, 100%, 20%, 0.5)!important;

    --tx--purple-lite-color: hsla(292, 88%, 12%, 0.5)!important;

    --tx--fuchisa-lite-color: hsla(314, 88%, 21%, 0.5)!important;

    --tx--maroon-lite-color: hsla(331, 74%, 70%, 0.5)!important;

    --tx--red-lite-color: hsla(3, 100%, 25%, 0.5)!important;

    --tx--orange-lite-color: hsla(28, 100%, 20%, 0.5)!important;

    --tx--yellow-lite-color: hsla(52, 100%, 20%, 0.5) !important;

    --tx--olive-lite-color: hsla(153, 43%, 15%, 0.5)!important;

    --tx--green-lite-color: hsla(127, 63%, 15%, 0.5)!important;

    --tx--lime-lite-color: hsla(146, 100%, 20%, 0.5)!important;

    --tx--navy-lite-50-color: hsla(210, 100%, 15%, 0.5)!important;

    --tx--blue-lite-50-color: hsla(208, 100%, 15%, 0.5)!important;

    --tx--aqua-lite-50-color: hsla(197, 100%, 20%, 0.5)!important;

    --tx--purple-lite-50-color: hsla(292, 88%, 12%, 0.5)!important;

    --tx--fuchisa-lite-50-color: hsla(314, 88%, 21%, 0.5)!important;

    --tx--maroon-lite-50-color: hsla(331, 74%, 70%, 0.5)!important;

    --tx--red-lite-50-color: hsla(3, 100%, 25%, 0.5)!important;

    --tx--orange-lite-50-color: hsla(28, 100%, 20%, 0.5)!important;

    --tx--yellow-lite-50-color: hsla(52, 100%, 20%, 0.5) !important;

    --tx--olive-lite-50-color: hsla(153, 43%, 15%, 0.5)!important;

    --tx--green-lite-50-color: hsla(127, 63%, 15%, 0.5)!important;

    --tx--lime-lite-50-color: hsla(146, 100%, 20%, 0.5)!important;

    --tx--olive-lite-nav-color: hsla(153, 43%, 15%, 0.5)!important;

    --tx--green-lite-dropdown-color: hsla(127, 63%, 15%, 0.5)!important;

    --tx--aqua-lite-08-color: hsla(196, 45%, 10%, 0.849)!important;

    --tx--aqua-lite-08:hover-color: hsla(187, 100%, 40%, 0.8)!important;

    --tx--fuchisa-lite-08-color: hsla(314, 88%, 21%, 0.8)!important;

    --tx--fuchisa-lite-08:hover-color: hsla(314, 55%, 6%, 0.8)!important;

}
.controls {
    border: rgb(48, 48, 48);
    border-style: solid;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 25px;
    background-color: #3D997055;
    color: rgb(37, 37, 37);
    width: 100%;
}

.myfieldclass {
    font-family: 'Varela Round', sans-serif;
    font-family: 400;
    font-size: 20px;
    width: 100%;
    border: 1px solid rgb(77, 77, 77);
    border-style: solid;
    background-color: transparent;
}

.myfieldclass:hover {
    background-color: transparent;
}

.myfieldclass:valid {
    background-color: transparent;
}

#id_cover {
    display: none;
}

.hideit {
    display: none;
}

.blogcoverimage {
    cursor: pointer;
    max-height: 300px;
    max-width: 300px;
    border: 5px solid transparent;
}

.uploadcover {
    font-family: 'Varela Round', sans-serif;
    font-family: 400;
    font-size: 20px;
    background-color: transparent;
    height: 100%;
}

.detail_readtime {
    font-size: 10px;
}

.hr-line {
    border: 1px solid;
}

.post-body {
    /* font-family: 'Andada Pro', serif; */
    font-family: 'Noto Sans', sans-serif;
    
    font-weight: 400;
}

.posttitle {
    font-size: 1.6em;
    line-height: 1.25em;
    width: 100%;
    margin: 30px 0;
    padding: 0;
    word-break: break-word;
    hyphens: auto;
    color: rgb(105, 105, 105);
}

.posttitle:hover {
    font-size: 1.6em;
    line-height: 1.25em;
    width: 100%;
    margin: 30px 0;
    padding: 0;
    word-break: break-word;
    hyphens: auto;
}

.bookmark_like {
    display: flex;
}

.imageone {
    width: 100%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-family: "Andada Pro";
    font-weight: 400;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

cite {
    margin-left: 35px;
}

.code {
    background-color: rgb(170, 170, 170);
}

.image {
    width: 100%;
}

figure.image img {
    max-width: 100%;
}

div.comment-body img {
    width: 100%;
}

.ck-editor__editable {
    background: transparent;
}

.btn-primary {
    color: tomato !important;
    border: 1px solid rgb(48, 48, 48) !important;
}

.float {
    top: 40%;
    margin-left: -22px;
}

.align-center {
    align-self: center;
}

.post__body {
    margin-left: -10px;
    word-break: break-word;
}

.post__body p img {
    max-width: 100%;
}

.post__body img {
    max-width: 100%;
}

#newForm {
    border-left: 2px solid rgb(189, 189, 189);
}

.re_form {
    margin-left: 10px;
}

.re_form_textarea {
    height: 100px;
    width: 100%;
    background: transparent;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    line-height: inherit;
    border: inherit;
}

.re_form_close {
    float: right;
    padding: 2px;
}

.link0 {
    color: inherit;
}

.link0:hover {
    color: inherit;
}

.read_more {
    font-size: 12px;
}

.blog__list__float {
    top: 40%;
    font-size: 25px;
}

.post__list__body {
    word-break: break-word;
}

.underline {
    text-decoration: underline;
}

.tags-item {
    display: inline-block;
}

.post_username {
    color: inherit;
}

.bookmark {
    cursor: pointer;
}

/* Account page ie header navbar nav  */

@media screen and (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        margin-left: -100px;
        position: absolute;
        border: 0;
    }
    .dropdown-item {
        text-align: center in !important;
    }
}

.dropdown-menu {
    background-color: #f8f9fa;
    border: 0px solid;
    text-align: center;
}

.dropdown-item {
    color: inherit;
    text-decoration: none;
}

.navbar-toggler {
    border: 0px solid transparent;
    border-radius: 0px;
    background-color: teal;
}

.navbar-toggler:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
    text-decoration: none;
}

.input-search {
    overflow: auto;
}

.myfieldclass-search {
    font-family: 'Varela Round', sans-serif;
    font-family: 400;
    font-size: 20px;
    width: 100%;
    padding: .2em;
    color: rgba(77, 77, 77, 0.767);
    border: 1px solid rgb(77, 77, 77);
    background-color: transparent;
}

.myfieldclass-search:hover {
    background-color: transparent;
}

.myfieldclass-search:valid {
    background-color: transparent;
}

.search {
    padding: 2px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(77, 77, 77);
}

.search__query__title {
    font-family: Work Sans;
    font-weight: 400;
    color: rgba(105, 105, 105, 0.877);
}

.search__result__total {}

.author {
    /* margin-top: -22px; */
}

.author__p_name {}

.author__avatar {
    margin-left: 5px;
}

.a_author_image {
    text-decoration: none;
    color: inherit;
}

.author_name_from_list {
    text-decoration: none;
    color: inherit;
}

.author_name_from_list:hover {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.your_date {
    color: hsl(0, 0%, 27.1%);
    font-weight: 400;
    font-family: Work Sans;
}

.status {
    padding: 5px;
    font-weight: 700;
    border: 1px solid;
    text-decoration: none;
}

.status-a {
    padding: 5px;
    font-weight: 700;
    text-decoration: none;
}

.datetimeinput {
    background: transparent;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid red;
    font-size: 14px;
    width: 135px;
}
.publish__b{
    padding: 1px !important;
    font-size: 14px;
}
.date_format{
    font-size: 14px;
}
.results {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
    transition: 0.5ms;
    border-radius: 7px;
    padding: 15px 15px;
    z-index: 1;
    background-color: #AAAAAA;
}
.none {
    display: none;
}
.modal-content {
    background-color: transparent !important;
    border: 0 !important;
}
.btn-outline-success:hover {
    color: hsl(0, 0%, 27.1%);
}
.btn-none {
    border: none;
    background-color: transparent;
}

.ajax-post-title {
    color: #e2e2e2;
    font-family: sans-serif;
    font-size: 17px;
}

.padding-15 {
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 576px) {
    .padding-15 {
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.tag_label {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgba(105, 105, 105, 0.877);
}
.mb-32-px{
    margin-bottom: 32px;
}
.rounded {
    border-radius: 0 !important;
}
.text-center {
    text-align: center;
}
.vizvasrj {
    font-family: 'Libre Barcode 39 Text', cursive;
    
    font-size: 32px !important;
    color: rgb(77, 77, 77);
}
.vizvasrj:hover {
    color: rgb(36, 36, 36);
}

#id_tags__tagautosuggest {
    width: 100% !important;
    background-color: transparent;
    margin-top: 3px;
}
:-moz-ui-invalid:not(output) {
    border: none;
    background-color: transparent;

}

#as-selections-id_tags__tagautosuggest {
    list-style: none !important;
    margin-left: -29px;
    background-color: transparent;
    width: auto ;
}
.as-selection-item {
    float: left;
    padding: 2px;
    border: 1px solid grey;
    margin: 2px;
}
.as-result-item {
    margin: 2px;
    border: 1px solid grey;
    list-style: none;
    margin-left: -29px;
    width: auto;
}

/* .active {
    color: black !important;
    background-color: lightcoral !important;
} */

.as-list{
    width: 100% !important;
}
.as-close {
    text-decoration: none;
}
.as-close:hover {
    color: rgb(77, 77, 77);
}
.dropdown-item:active{
    background-color: #e9ecef;
    color: rgb(36, 36, 36);
}
.forgetica {
    font-family: Sans Forgetica Regular;
    font-size: 30px;
    font-weight: inherit;
    color: white;
}

div .post__body > div > div > p {
    /* font-family: Sans Forgetica Regular; */
    /* font-size: 30px; */
    font-weight: inherit;
    /* color: white; */
}

div .post__body > div > h1,h2,h3,h4,h5,h6,ul,li {
    /* font-family: Sans Forgetica Regular; */
    /* font-size: 30px; */
    font-weight: inherit;
    /* color: white; */
}
div .post__body > p.post-body + p {
    /* font-family: Sans Forgetica Regular; */
    /* font-size: 30px; */
    font-weight: inherit;
    /* color: white; */
}

.oooo {
    color:mediumslateblue;
}
.brains {
    color:mediumslateblue;
    cursor: pointer;
}
.glow {
    color:mediumvioletred;
    cursor: pointer;
}
.iamhigh {
    font-family: Sans Forgetica Regular;

}
.comment__textarea {
    width: 100%;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid silver;
}
.comment__button {
    padding: 0;
    color: mediumvioletred;
    background-color: mediumslateblue;
    border-radius: 2px;
    border: 1px solid transparent;
}
.comment__button:hover {
    padding: 0;
    color: midnightblue;
    background-color: mediumvioletred;
}

::selection {
	color: #d2c5b5;
	background-color: #2d3a4a;
}

/* for firefox */
::moz-selection {
	color: #d2c5b5;
	background-color: #2d3a4a;
}

.transparent {
    background: transparent;
}
.zero-border {
    border: 0;
}

.eye {
    font-size: 22px;
}

.eye:hover {
    font-size: 22px;
    color: inherit;
}
.pub__follow {
    background-color: var(--bg-navy-background--color);
    color: var(--tx--navy-color);
}
.pub__follow:hover {
    background-color: var(--bg-navy-lite-50-background--color);
    color: var(--tx--olive-color);
}

.pub__following {
    background-color: var(--bg-green-background--color);
    color: var(--tx--fuchisa-color);
}
.pub__following:hover {
    background-color: var(--bg-green-lite-50-background--color);
    color: var(--tx--fuchisa-color);
}
.post_author_user {
    /* color: var(--bg); */
    text-decoration: none;

}
.number_of_follower {
    color: var(--bg-olive-background--color);
}