.controls {
    border: rgb(48, 48, 48);
    border-style: solid;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 25px;
    background-color: #3D997055;
    color: rgb(37, 37, 37);
    width: 100%;
}

.myfieldclass {
    font-family: 'Varela Round', sans-serif;
    font-family: 400;
    font-size: 20px;
    width: 100%;
    border: rgb(77, 77, 77);
    border-style: none;
    background-color: transparent;
}

.myfieldclass:hover {
    font-family: 'Varela Round', sans-serif;
    font-family: 400;
    font-size: 20px;
    width: 100%;
    border: rgb(77, 77, 77);
    border-style: none;
    background-color: transparent;
}

.myfieldclass:valid {
    font-family: 'Varela Round', sans-serif;
    font-family: 400;
    font-size: 20px;
    width: 100%;
    border: rgb(77, 77, 77);
    border-style: none;
    background-color: transparent;
}

#id_cover {
    display: none;
}
.hideit {
    display: none;
}


.blogcoverimage {
    cursor: pointer;
}

.uploadcover {
    font-family: 'Varela Round', sans-serif;
    font-family: 400;
    font-size: 20px;
    background-color: transparent;
    height: 100%;
}

.detail_readtime {
    font-size: 10px;
}

.hr-line {
    border: 1px solid;
}

.post-body {
    font-family: 'Andada Pro', serif;
    font-weight: 400;
}

.posttitle {
    font-size: 1.6em;
    line-height: 1.25em;
    width: 100%;
    margin: 30px 0;
    padding: 0;
}

.bookmark_like {
    display: flex;
}

.imageone {
    width: 100%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-family: "Andada Pro";
    font-weight: 400;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}
cite {
    margin-left: 35px;
}
.code{
    background-color: rgb(170, 170, 170);
}
.image {
    width: 100%;
}
figure.image img{
    width: 100%;
}