{% extends "blog_base.html" %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load i18n %}
{% block title %}{% trans 'Edit your account' %}{% endblock title %}
{% block color %} {% include 'blog/nav_color.html' %} {% endblock %}

{% block nav %} 
{% thumbnail user.profiles.photo "250x250" crop="100%" as profile %}
<img class="p-4 border border-3 rounded-pill" src='{{ profile.url }}'  />



<li class=" mt-5">

        <li class="active">
            <a class="" href="{% url 'edit' %}"><h6 class="mx-3">{% trans 'Profile' %}</h6></a>
        </li>
        <li>
            <a href="#"><h6 class="mx-3">{% trans 'Configuration' %}</h6></a>
        </li>
        <li>
            <a href="{% url 'my_published_story' %}"><h6 class="mx-3">{% trans 'My Stories' %}</h6></a>
        </li>
        <li>
            <a href="{% url 'my_shared_post' %}"><h6 class="mx-3">{% trans 'My Shared' %}</h6></a>
        </li>
        <li>
            <a href="{% url 'their_shared_post' %}"><h6 class="mx-3">{% trans 'They Shared' %}</h6></a>
        </li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="">
        <div class="col-lg-10">

            <div class="border mt-2 p-5">
                
                    <h1 class="maintitle"><a href="">{% trans 'Profile' %}</a></h1>
                
                <div class="mb-3">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="photo mb-2 border-top">
                            <label class="mt-2 labeltext" for="photo">{{profile_form.photo.label}}:</label>
                            <div class="">
                                <label id="remove" class="uploadcover" for="id_photo">
                                    {% thumbnail user.profiles.photo "300x300" crop="100%" as im %}
                                    <img class="blogcoverimage" width="100%" id="myImg" src='{{ im.url }}' alt="{% trans 'Upload' %}" />
                                </label>
                                {{profile_form.photo}}
                            </div>
                        </div>
                        <div class="email mb-2 border-top">
                            <label class="mt-2 labeltext" for="email"
                                class="form-label">{{user_form.email.label}}:</label>
                            <div class="">
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="about mb-2 border-top">
                            <label class="mt-2 labeltext" for="about"
                                class="form-label">{{profile_form.about.label}}:</label>
                            <div class="">
                                {{profile_form.about}}
                            </div>
                        </div>
                        <div class="fullname mb-2 border-top">
                            <label class="mt-2 labeltext" for="full_name"
                                class="form-label">{{profile_form.full_name.label}}:</label>
                            <div class="">
                                {{profile_form.full_name}}
                            </div>
                        </div>
                        <div class="fullname mb-2 border-top">
                            <label class="mt-2 labeltext" for="full_name"
                            class="form-label">{{profile_form.lang.label}}:</label>
                            <div class="lang_select">
                                {{profile_form.lang}}
                            </div>
                        </div>
                        {% csrf_token %}
                        <p class="mb-2 border-top">
                            <input class="mt-2 btn save_profile" type="submit" value="{% trans 'Save changes' %}">
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}


{% block domready %}
$(function () {
$(":file").change(function () {
if (this.files && this.files[0]) {
var reader = new FileReader();
reader.onload = imageIsLoaded;
reader.readAsDataURL(this.files[0]);
}
});
});

function imageIsLoaded(e) {
$('#myImg').attr('src', e.target.result);
};



{% endblock %}