{% extends 'account_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="login mt-5">
    <h1 class="headercreateaccount d-flex justify-content-center">Create account</h1>
    <div class="d-flex mb-5 justify-content-center border">

        <p>
        <form class="mt-5" action="" method="POST">
            <div class="fullname mb-2 border-top">aaa
                <label class="mt-2 labeltext" for="full_name" class="form-label">{{ form.username }}:</label>
                <div class="">
                    {{ form.username }}
                </div>
            </div>
            <div class="fullname mb-2 border-top">
                <label class="mt-2 labeltext" for="full_name" class="form-label">{{ form.password }}:</label>
                <div class="">
                    {{ form.password }}
                </div>
            </div>

            {% csrf_token %}
            <p>
                <input class="btn btn-square btn-primary " type="submit" value="Login">
                <a class="btn btn-secondary" href="{% url 'register' %}">SignUp</a>
            </p>
        </form>
        </p>
    </div>
</div>
{% endblock %}