{% extends 'blog_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="login mt-5">
    <h1 class="headercreateaccount d-flex justify-content-center">{% trans 'Login' %}</h1>
    <div class="d-flex mb-5 justify-content-center border">

        <p>
        <form class="mt-5" action="" method="POST">
            <div class="fullname mb-2 border-top">
                <label class="mt-2 labeltext" for="full_name" class="form-label">{{ form.username.label }}:</label>
                <div class="">
                    {{ form.username }}
                </div>
            </div>
            <div class="fullname mb-2 border-top">
                <label class="mt-2 labeltext" for="full_name" class="form-label">{{ form.password.label }}:</label>
                <div class="">
                    {{ form.password }}
                </div>
            </div>

            {% csrf_token %}
            <p>
                <input class="btn btn-square bg-aqua-lite-08 " type="submit" value="{% trans 'Login' %}">
                <a class="btn bg-fuchisa-lite-08" href="{% url 'register' %}">{% trans 'SignUp' %}</a>
            </p>
        </form>
        </p>
    </div>
</div>
{% endblock %}