{% extends "account_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account{% endblock title %}
{% block content %}
<h1 class="headercreateaccount d-flex justify-content-center">Create account</h1>
<div class="d-flex justify-content-center border">

    <form class="roboto" method="POST">
        <div class="fullname mb-2 border-top">
            <label class="mt-2 labeltext" for="full_name" class="form-label">{{user_form.email.label}}:</label>
            <div class="">
                {{user_form.email}}
            </div>
        </div>
        <div class="fullname mb-2 border-top">
            <label class="mt-2 labeltext" for="full_name" class="form-label">{{user_form.username.label}}:</label>
            <div class="">
                {{user_form.username}}
            </div>
        </div>
        <div class="fullname mb-2 border-top">
            <label class="mt-2 labeltext" for="full_name" class="form-label">{{user_form.password1.label}}:</label>
            <div class="">
                {{user_form.password1}}
            </div>
        </div>
        <div class="fullname mb-2 border-top">
            <label class="mt-2 labeltext" for="full_name" class="form-label">{{user_form.password2.label}}:</label>
            <div class="">
                {{user_form.password2}}
            </div>
        </div>

{% csrf_token %}
        <p>
            <input class="mt-2 btn btn-primary" type="submit" value="Create">
            <a class="mt-2 btn btn-secondary" href="{% url 'login' %}">Login Here</a>
        </p>

    </form>
</div>
<div class="roboto already d-flex justify-content-center">
</div>

{% endblock %}

